.head{
    display: flex;
    gap:30px;
    justify-content:space-between;
}
.nav1{
    display: flex;
    gap:20px;
    justify-content:left;
    margin-left: 20px;

}
.nav2{
    display: flex;
    justify-content:center;
}
.nav3{
    display: flex;
    gap:20px;
    justify-content:right;
    margin-right: 20px;

}
.nav3 span{
     margin-top: 10px;
}
.header{
    display: flex;
    gap:40px;
    justify-content:center;

}
.offer{
    display: flex;
    gap:40px;
    justify-content:space-evenly;
}
