.read{
    text-decoration: underline;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding-top: 50px;
    margin: 20px;
}
.main{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color:rgb(216, 215, 215);
    padding: 30px;
}
.logos{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ftr{
    text-align: center;
}